body {
  color: #292929;
  margin: 0;
  padding: 0; }

* {
  outline: none; }

#header {
  position: fixed;
  height: 48px;
  background: #3d3d3d;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10000000; }
  #header img {
    height: 43px;
    margin-left: 10px;
    margin-top: 3px; }

.container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 1160px;
  margin: 75px auto 0px;
  background: white;
  text-align: center;
  overflow: hidden; }
  .container.second {
    margin: -70px auto; }
    .container.second .half {
      text-align: left;
      width: 40%;
      padding: 5%;
      line-height: 1.4em; }
      .container.second .half h1 {
        line-height: 1.2em; }
  .container .half {
    width: 50%;
    float: left;
    position: relative; }
    .container .half.second {
      margin-top: 15px; }
    .container .half hr {
      width: 84%;
      margin: 4px auto 20px;
      display: block;
      height: 1px;
      border: 0;
      border-top: 3px solid #ededed; }

.form {
  width: 100%; }

.shirt {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  background: #fff url("./graphics/white.png");
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;
  height: 650px;
  margin-bottom: 100px; }
  .shirt.color-black {
    background: #fff url("./graphics/black.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover; }
  .shirt.color-blue {
    background: #fff url("./graphics/blue.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover; }
  .shirt.color-green {
    background: #fff url("./graphics/green.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover; }
  .shirt.color-orange {
    background: #fff url("./graphics/orange.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover; }
  .shirt.color-pink {
    background: #fff url("./graphics/pink.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover; }
  .shirt.color-purple {
    background: #fff url("./graphics/purple.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover; }
  .shirt.color-red {
    background: #fff url("./graphics/red.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover; }
  .shirt.color-yellow {
    background: #fff url("./graphics/yellow.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover; }
  .shirt button.upload-butt {
    background: rgba(255, 255, 255, 0.1);
    border: 4px solid #40a7c5;
    color: #40a7c5;
    font-size: 50px;
    width: 150px;
    height: 150px;
    vertical-align: 60px;
    margin-top: 160px;
    cursor: pointer;
    padding-bottom: 20px; }
    .shirt button.upload-butt.invalid {
      border: 4px solid #ff003f;
      color: #ff003f; }
  .shirt .canvas {
    padding-top: 145px;
    height: 400px; }
    .shirt .canvas img {
      width: 220px; }
  .shirt .positioner {
    display: none;
    opacity: 0.7;
    font-size: 16px;
    width: 40px;
    margin-top: -380px;
    margin-left: 138px;
    position: absolute; }
    .shirt .positioner button {
      border: 0px;
      width: 40px;
      font-size: 40px;
      cursor: pointer;
      background: transparent; }
    .shirt .positioner .inches {
      padding-left: 7px;
      font-weight: bold; }
  .shirt:hover .positioner {
    display: block; }
  .shirt .buttons {
    width: 100%;
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0; }
    .shirt .buttons.after-upload {
      margin-top: 95px !important; }
  .shirt button.color {
    border: 1px solid #d3d3d3;
    padding: 17px;
    margin: 3px;
    cursor: pointer; }
    .shirt button.color:hover {
      opacity: 0.9; }
  .shirt button.color-white {
    background: #ededed; }
  .shirt button.color-black {
    background: #373737; }
  .shirt button.color-blue {
    background: #164d7c; }
  .shirt button.color-green {
    background: #3b9a46; }
  .shirt button.color-orange {
    background: #ca6410; }
  .shirt button.color-pink {
    background: #d142c0; }
  .shirt button.color-purple {
    background: #994fc2; }
  .shirt button.color-red {
    background: #c34054; }
  .shirt button.color-yellow {
    background: #d9ab20; }

.loader {
  height: 180px;
  width: 180px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 200px;
  color: #383037;
  font-size: 13px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.32);
  border: 1px solid #C4C4C4;
  z-index: 5000; }
  .loader .on-call-loader-text {
    text-align: center;
    padding-top: 6px; }
  .loader img.loader-image {
    margin-top: 48px; }
  .loader .lock {
    margin-top: 12px;
    text-align: center;
    opacity: 0.7;
    display: none; }

.shirt-file {
  display: none; }

.card-type {
  position: absolute;
  margin-top: -60px;
  margin-left: 480px;
  font-size: 10px;
  color: #0bcb2f; }

input {
  width: 84%;
  margin: auto;
  padding: 12px;
  font-size: 28px;
  margin-bottom: 25px;
  border: 0px;
  border: 1px solid #c3dbe0; }
  input.half-input {
    width: 47%;
    margin-left: 3%; }
  input.quarter-input {
    width: 25%; }
  input.invalid {
    border: 1px solid #ff003f;
    background: #e8e8e8; }
  input.valid {
    border: 1px solid #0bcb2f;
    background: #e3ffe6; }

.eighty {
  width: 84%;
  margin: auto; }

input[type="submit"] {
  background: white;
  border: 6px solid #40a7c5;
  color: #40a7c5;
  font-size: 40px;
  font-weight: bold;
  padding: 18px;
  cursor: pointer; }
  input[type="submit"]:hover {
    opacity: 0.9; }

@media only screen and (max-width: 580px) {
  .half {
    width: 100% !important; }

  .container {
    width: 100% !important; }
    .container.second {
      margin: 0px auto !important; }
      .container.second .half {
        width: 90% !important; }

  .positioner {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
